extends layout

block content
    h1 Your Grades:
    table#grades.table.table-responsive
        thead
            tr.head
                th Teacher
                th Course
                th Period
                th Cycle 1
                th Cycle 2
                th Cycle 3
                th Exam 1
                th Sem 1
                th Cycle 4
                th Cycle 5
                th Cycle 6
                th Exam 2
                th Sem 2
        tbody
            - var i = 0
            each grade in grades
                - ++i
                tr(class=(i % 2 == 0) ? 'odd' : 'even')
                    td #{grade.teacher}
                    td #{grade.course}
                    td #{grade.period}
                    td #{grade.cycle1}
                    td #{grade.cycle2}
                    td #{grade.cycle3}
                    td #{grade.exam1}
                    td #{grade.sem1}
                    td #{grade.cycle4}
                    td #{grade.cycle5}
                    td #{grade.cycle6}
                    td #{grade.exam2}
                    td #{grade.sem2}

